//colors
$dark-1: #1c1c24;
$dark-2: #0c0b11;
$dark-3: #15141b;
$dark-4: #515871;
$gray: #c7c7c9;
$orange: #ff4800;
$purple: #39384a;
$l-blue: #40b8ff;
$green: #a2ff35;
$red: crimson;

$matchmaking-blue: #03b0ea;
$faceit-orange: #f05000;


$terrorist-color: #725619;
$ct-color: #1D7180;
$success-color:$green;
$failure-color:$red;

//vars
$container-width: 1170px;

//lightbox fix
.vue-lb-container {
    z-index: 9999 !important;
}