.sidebar {
    display: flex;
    flex-direction: column;

    color: white;
    padding-top: 0;
    height: 100%;

    .legend-tab {
        .legend-row {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 5px;
            font-size: 14px;


            .legend-depiction {
                padding-right: 20px;

                .legend-circle {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;

                    &.green {
                        background: $green;
                    }

                    &.red {
                        background: $red;
                    }
                }
            }
        }
    }

    .zone-legend-section {
        .legend-depiction {
            svg {
            position: relative;
            top: 3px;
            }
        }
    }

    .sidebar-tabcontent {

        & > div {

            &:first-child {
                margin-top: 0;
            }

            margin: 10px 0px;
            background: $dark-3;
            padding: 5px;
            border-radius: 4px;

            h4 {
                border-bottom: 1px solid $orange;
                margin: 5px;
                padding-bottom: 5px;
            }    
        }

        .stat-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $dark-3;
            padding: 5px 5px;
            border-radius: 4px;
            border-bottom: 1px solid $purple;
        
            .stat-description {
                width: calc(63% - 15px);
            }
        
            .stat-content {
                width: 37%;
                padding: 5px 10px;
                border-radius: 4px;
                text-align: center;
            }
        
            &:last-child {
                border-bottom: 0;
            }
        }

    }
}

.practice-tab {
    margin: 10px 0;
    border-top: 1px solid $purple;
}

#analysis-tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 10px 0;
}



.setpos-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    #setpos-text {
        background: $purple;
        border: 0;
        outline: 0;
        padding: 8px 10px;
        width: 100%;
        color: $gray;
        height: 32px;
    }
    
    #setpos-copy {
        outline: 0;
        border: 0;
        cursor: pointer;
        background: $dark-3;
        color: $orange;
        height: 32px;
        padding: 0 10px;
        
        i {
            font-size: 18px;
        }
    }
}

.image-list {
    margin-top: 20px;

    img {
        max-width: 100%;
        width: 100%;
        cursor: pointer;
    }
}