
.main-font {
    font-family: "Montserrat", sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

* {    
    box-sizing: border-box;
}

body {
    @extend .main-font;
    overflow-y: scroll;
}

.view {
    // max-width: $container-width;
    // margin: 0 auto;
    margin-bottom: 20px;
}

.fixed-width-container {
    max-width: $container-width;
    margin: 0 auto;
}

.bordered-box {
    background: $dark-1;
    border: 1px solid $purple;
    padding: 10px 25px;
    border-radius: 4px;
}

.button-variant-bordered {
    background: transparent;
    transition: .35s;
    border: 1px solid $orange;
    border-radius: 2.5em;
    line-height: 1.2;
    color: white;
    font-size: 14px;
    padding: .75em 1.785em;
    cursor: pointer;
    outline: 0;
    @extend .main-font;
    white-space: nowrap;

    &:hover,
    &.active {
        background: $orange;
    }

    &:disabled {
        border-color: $dark-4;
        cursor: default;
        color:$dark-4;

        &:hover{
            background: inherit;
        }
    }

    &.purple {
        border: 1px solid $purple;

        &:hover {
            background: $purple;
        }
    }
}

.button-variant-filled {
    background: $orange;
    transition: .35s;
    border: 1px solid $orange;
    border-radius: 2.5em;
    line-height: 1.2;
    color: white;
    font-size: 14px;
    padding: .75em 1.785em;
    cursor: pointer;
    outline: 0;
    @extend .main-font;

    &:hover {
        background: transparent;
    }

    &.purple {
        border: 1px solid $purple;
        background: $purple;
    }
}

//vue transitions
.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
 }
 
 .slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
 }
 
 .slide-enter-to, .slide-leave {
    max-height: 500px;
    overflow: hidden;
 }
 
 .slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0;
 }

.page-enter-active, .page-leave-active {
    transition: opacity 1s, transform 0.75s;
}
.page-enter, .page-leave-to {
    opacity: 0;
    transform: translateX(-5%);
}

//font

a {
    color: $orange;
  }

  ol {
    li {        
      font-weight: 200;
    }
  }
  
//   p {
//     font-weight: 200;
//   }
  
  p.two {
      font-weight: 400;
  }
